* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: "Inter", sans-serif;
}

/* common css */
.container {
    max-width: 1536px;
    margin: 0 auto;
}
section{
    padding: 50px 0;
}
.title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    color: #000102;
}

.common-btn {
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    background-color: #1D4ED8;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

/*navbar css*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.nav-links-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-links-ul li a {
    text-decoration: none;
    color: #575757;
}

/*header css*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 100px;
}

.header-content .text h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.header-content .text p {
    font-weight: 600;
    color: #575757;
}

.header-content .button {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.header-content .button .btn{
    font-size: 18px;
    padding: 15px 30px;
}

/*meet section css*/
.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card{
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}
.card-container .card img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}
.card-container .card .card-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.card-container .card .card-description h4{
    color: #2563EB;
    font-size: 12px;
    font-weight: 600;
}
.card-container .card .card-description h2{
    color: #0D1B2A;
    font-size: 20px;
    font-weight: 700;
}
.card-container .card .card-description p{
    color: #575757;
    font-size: 14px;
}
